<html>
  <head>
<link rel="stylesheet" href="/CSS/kei.css">
<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <meta charset="utf-8">
    <title>KEI.com</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  </head>
  <body>
     <script src="app.js"></script>
     <header>
        <div class="container">
          <div class="header-title">
            <div id="top-btn" class="header-logo">KEI TAKAMIZU</div>
          </div>
          <div class="header-menu">
            <ul class="header-menu-right">
              <li>
                <a href="#about">ABOUT ME</a>
              </li>
              <li>
                <a href="#hobby">MY HOBBY</a>
              </li>
              <li>
                <a href="#sns">SNS</a>
              </li>
              <li>
                <a href="#contact">CONTACT</a>
              </li>
            </ul>
          </div>
        </div>
      </header>
    <div class='home-section' id='home'>
      <div class="container">
        <div class='home-inner'>
          <div class='home-description'>
            <h1>自分のサイトを自作中</h1>
            <h2>構図も写真も全部自前です</h2>
            <h2>難しい</h2>
          </div>
        </div>
      </div>
    </div>
    <div class='about-section' id='about'>
      <div class='container'>
        <div class='about-title title'>ABOUT ME</div>
          <div class='about-inner'>
            <img class='about-img' src="/images/IMG_5708.JPG">
            <div class='about-me'>
            <p>Age : 25</p>
            <p>Barthday : 04/14/1995</p>
            <p>From : TOKYO</p>
            <p>Like : Travel,Photo,Workout</p>
          </div>
            <div class='career'>
              <h1>Career</h1>
              <ul>
                <li>上ノ原小学校</li>
                <li>神代中学校</li>
                <li>国分寺高校</li>
                <li>横浜国立大学</li>
                <li>東京工業大学(M)</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
        <div class='hobby-section' id='hobby'>
          <div class='container'>
            <div class='hobby-title title'>MY HOBBY</div>
            <div class="change-btn-wrapper">
        </div>
        <ul class="slides">
          <li class="slide active"><img src="/images/IMG_7136.JPG"></li>
          <li class="slide"><img src="/images/IMG_4039.JPG"></li>
          <li class="slide"><img src="/images/IMG_6315.JPG"></li>
          <li class="slide"><img src="/images/IMG_4586.JPG"></li>
          <li class="slide sea-picture"><img src="/images/IMG_6947.JPG"></li>
        </ul>
        <div class="index-btn-wrapper">
          <div class="index-btn">1</div>
          <div class="index-btn">2</div>
          <div class="index-btn">3</div>
          <div class="index-btn">4</div>
          <div class="index-btn">5</div>
        </div>
      </div>

          </div>
          </div>
    <div class='sns-section' id='sns'>
      <div class="container">
        <div class='sns-title title'>SNS</div>
          <div class='sns-inner'>
            <ul class="snsbtniti">
              <li><a href="https://twitter.com/KTakamizu" class="flowbtn fl_tw1"><i class="fab fa-twitter"></i><div>Twitter</div></a></li>
              <li><a href="https://www.instagram.com/tk23.05/" class="flowbtn insta_btn1"><i class="fab fa-instagram"></i><div>Instagram</div></a></li>
              <li><a href="https://www.facebook.com/kei.takamizu" class="flowbtn fl_fb1"><i class="fab fa-facebook-f"></i><div>Facebook</div></a></li>
            </ul>
          </div>
      </div>
    </div>
    <div class='contact-section' id='contact'>
      <div class='container'>
        <div class='sns-title title'>CONTACT</div>
        <div class='contact-inner'>
          <div class="contact-form">
            <p>メールアドレス（必須）</p>
              <input>
            <p>お問い合わせ内容（必須）</p>
              <textarea></textarea>
            <p>※必須項目は必ずご入力ください</p>
              <input class="contact-submit" type="submit" value="送信">
            </div>
          </div>
      </div>
    </div>
    <footer>
      <div class="container">
        <div class="footer-inner">
          <p>Learn to code, learn to be creative.</p>
      </div>
      </div>
    </footer>
  </body>
</html>
